<h1>Editing Customer</h1>
<div class="container customer_form">
<%= render 'form', shop_owner: current_shop_owner, customer: @customer %>
<%= link_to 'Back', shop_owner_customers_path(current_shop_owner) %>
</div>
