/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

select {
  display: block !important;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  color: white;
  text-align: center;
  font-size: 350%;
}

.row {
  color: white;
}

.icon_prefix.validate {
  color: white;
}

a:visited {
  color: lightgreen;
}

.waves-effectwaves-light btn-large1 {
  background-color: rgb(184, 134, 11);
  display: flex;
  }

.btn, .waves-effect.waves-light1 {
  background-color: #B8860B;
}
.bg-red {
  background: red;
}
.submit_button {
  text-align: center;
}

.btn, .btn-large, .btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
}

.menu-button {
  margin-top: 10px;
}

#customers {
  padding-right: 3rem;
}

.buttons {
  padding-top: 20rem;

}

.register_form {
  text-align: center;
}

.title {
  color: white
}
