html, body {
  height: 100%;
  margin: 0 !important;
  }

.container_buttons {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  padding-top: 350px;
}

.LogoArea {
    width: 200px;
    float: left;
    background-color: #1f5768;
    padding: 0 20px;
}

.logout_button {
  position: fixed !important;
  top: 15px;
  right: 15px;
}

.green {
    background-color: #43a047 !important;
}

a:visited {
    color: white !important;
}
