// Place all the styles related to the Shop_Owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#new_shop_owner.new_shop_owner {
  height: 30em;
  margin: 0 auto;
  width: 1100px;
}
.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none;
}

i.large.material-icons {
  font-size: 25rem;
}
