make a form around this to post

create a custom route to call controller

controller will call method from model for said customers

before action for set new method ---methods to set promotion
set params in controller action from params take form data of customer id that was submitted then
send to




<div class="field">
  <%= label_tag "Select Customers" %>
  <%= select_tag 'customers', customers.collect{|c| [c.id, c.name]} %>
  <%= collection_select :customer, :id,
    customers, :id, :name,
    {prompt: "Select a customer"},
    {multiple: true} %>
</div>

<%#= select_tag "customers", options_from_collection_for_select(customers, "id", "name")%>
